<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384332916714-l2lhckc11atqtoshc9picjdajoq9acdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384332916714-l2lhckc11atqtoshc9picjdajoq9acdv</string>
	<key>API_KEY</key>
	<string>AIzaSyBhkPZt48tS93Uf_nPMJ79jjgXsEEEIYfo</string>
	<key>GCM_SENDER_ID</key>
	<string>384332916714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abba123456789.app</string>
	<key>PROJECT_ID</key>
	<string>abba-b19a0</string>
	<key>STORAGE_BUCKET</key>
	<string>abba-b19a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384332916714:ios:c986d08f5f1bf1e9bf7493</string>
</dict>
</plist>