#paginateBar{
    background-color: var(--xltblue-el-color);
    width: 100%;
    padding: 15px 15px;
    border-radius: 5px;
    overflow-x: auto;
    display: flex;
    /* width */
    
    span{
        padding: 8px 10px;
        // border: 1px solid var(--ltblue-el-color);
        // --background: var(--ltblue-el-color);
        // min-width: 70px;
        // min-width: 50px;
        // min-height: 50px;
        margin-right: 5px;
    }
    span.active{
        color: var(--white-text-color);
    }

    span:not(.paginateDot){
        border: 1px solid var(--ltblue-el-color);
        cursor: pointer;
    }
    span:not(.active):not(.paginateDot):hover{
        color: var(--ltblue-text-color);
    }
}
